/public/storage/admin/high-music/*.mp3
/public/storage/admin/low-music/*.mp3
/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
